.card-image img {
    max-width: 100px; /* Ajusta el tamaño según tus necesidades */
    max-height: 100px; /* Ajusta el tamaño según tus necesidades */
    width: auto;
    height: auto;
  }
  .card {
    height: 100%;
    margin-bottom: 0;
    flex-basis: 25%; /* 4 tarjetas por fila */
  }
  .card-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }