<div class="row card-container">
   
    <div *ngFor="let producto of productoList" class="col s3 mb-4 mt-4" style="bottom: 0px">
        <div class="card" style="width: 18rem;">
         <!--   <img class="card-img-top" src="{{producto.imagenUrl}}" alt="Card image cap">-->
             <img [src]="producto.imagenBlob" alt="{{producto.marca}} Imagen" width="280px"> 

            <img src="" alt="">
            <div class="card-body">
                <h5 class="card-title">{{producto.marca.toUpperCase()}} {{producto.modelo.toUpperCase()}}</h5>
                <h5><b>CLIENTE: USD {{producto.precio?.toFixed(2)}}</b></h5>   
                <h5><b>DISTRI: USD {{producto.precioDistribuidor?.toFixed(2)}}</b></h5>
                
                <p class="card-text">{{producto.detalle.toUpperCase()}}</p>
                
               
            </div>
        </div>
    </div>
</div>

