<div class="catalogo-container ">
  <div *ngFor="let producto of productoList"class="col s4 m7 ">
    <div  class="card horizontal ">
      <div class="card-image">
        <img [src]="producto.imagenUrl" alt="Imagen">
        </div>
        <div class="card-stacked">
          <div class="card-content">
        <span class="card-title">{{producto.marca}} {{producto.modelo}}</span>
      </div>
      <div class="card-content">
        <p> Precio: {{producto.precio  }}</p>
      </div>
      <div class="card-action">
        <a href="#">{{producto.detalle}}</a>
      </div>
    </div>
  </div>
</div>


