<!-- categorias de productos-->
<header>
    <img src="../assets/imagenes/Encabezado.jpg">
</header>
   <!-- <a href="#">Categorias</a>
    <div class="categorias"></div>
    <a routerLink="/lista-productos/downpipe">Downpipe</a>
    <div class="opciones-desplegables">
        <a routerLink="/lista-productos/marcas/peugeot">Peugeot</a>

    </div>
    <a routerLink="/lista-productos/multiples/">Multiples</a>
    <a routerLink="/lista-productos/escapes">Escapes</a>
</nav>-->

<nav class="barra-navegacion">
  
    <div class="categorias">
      <div class="opcion-desplegable" (mouseenter)="toggleDesplegable('downpipe')" (mouseleave)="toggleDesplegable('downpipe')">
      <a >Downpipe</a>
      <div class="opciones-desplegables" *ngIf="desplegables ['downpipe']">
        <a (click)="mostrarOpciones('peugeot')">Peugeot</a>
        <a>Ford</a>
        <a>Fiat</a>
      </div>
    </div>

    <div class="opcion-desplegable" (mouseenter)="mostrarOpciones ('escapes')" (mouseleave)="ocultarOpciones ('escapes')">
      <a>Escapes</a>
      <div class="opciones-desplegables" *ngIf="desplegables ['escapes']">
        <a>Peugeot</a>
        <a>Ford</a>
        <a>Fiat</a>
      </div>
    </div>
    <div class="opcion-desplegable" (mouseenter)="mostrarOpciones('multiples')" (mouseleave)="ocultarOpciones('multiples')">
      <a>Múltiples</a>
      <div class="opciones-desplegables" *ngIf="desplegables['multiples']">
        <a>Peugeot</a>
        <a>Ford</a>
        <a>Fiat</a>
      </div>
    </div>


    
      <!--
    
    </div>
      <a (click)="mostrarOpciones('escapes')">Escapes</a>
      <a (click)="mostrarOpciones('multiples')">Múltiples</a>
     Agrega más categorías aquí -->
      <!--  <div *ngIf="opcioneSeleccionada" class="opciones-desplegables">
        <a>Peugeot</a>
        <a>Ford</a>
        <a>Fiat</a>
       Agrega más opciones aquí -->
      </div>
    
  </nav>
  