<app-navbar></app-navbar>
<nav class ="navbar navbar-expand-sm bg-dark navbar-dark" >
    <ul class="navbar-nav">
  
  
      <li class="nav-item">
        <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Bajadas
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" [routerLink]="['/lista-productos']">Audi</a>
      <a class="dropdown-item" href="#">Toyota</a>
      <a class="dropdown-item" href="#">Volkswagen</a>
      <a class="dropdown-item" href="#">Renault</a>
    </div>
        </div>
      </li>
  
      <li class="nav-item">
        <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Escapes
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Peugeot</a>
      <a class="dropdown-item" href="#">Toyota</a>
      <a class="dropdown-item" href="#">Volkswagen</a>
      <a class="dropdown-item" href="#">Renault</a>
    </div>
        </div>
      </li>
    </ul>
  </nav>
  
  <div class="conteiner"><router-outlet></router-outlet></div>





























