<div class="header-container">
  <header id="header">
    <div id="encabezado">
      <img src="../assets/imagenes/Encabezado.jpg" alt="Encabezado">
    </div>
  </header>
 <div class="content-container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-top: 20px; bottom: 75px;">
     
      <ul class="navbar-nav">


        <li class="nav-item ml-2">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Bajadas
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/lista-productos','bajadas','audi']"
                (click)= "obtenerProducto ('bajadas','audi')">Audi</a>
              <a class="dropdown-item" [routerLink]="['/lista-productos','bajadas','peugeot']"
                (click)= "obtenerProducto ('bajadas','peugeot')">Peugeot</a>
              <a class="dropdown-item" [routerLink]="['/lista-productos','bajadas','toyota']"
                (click)= "obtenerProducto('bajadas','toyota') ">Toyota</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','bajadas','bora']"
                (click)= "obtenerProducto ('bajadas','bora')">Bora</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'bajadas','volkswagen']"
                (click)= "obtenerProducto ('bajadas','volkswagen')">Volkswagen</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'bajadas','bmw']"
                (click)= "obtenerProducto ('bajadas','BMW')">BMW</a>
              <a class="dropdown-item" [routerLink]="['lista-productos' , 'bajadas', 'chevrolet']"
                (click)= "obtenerProducto ('bajadas','chevrolet')">Chevrolet</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'bajadas','fiat']"
                (click)= "obtenerProducto ('bajadas','fiat')">Fiat</a>
            </div>
          </div>
        </li>

        <li class="nav-item ml-2">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Escapes
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['lista-productos', 'escapes','chevrolet']"
                (click)= "obtenerProducto ('escapes','chevrolet')">Chevrolet</a>
              <a class= "dropdown-item" [routerLink]="['lista-productos' , 'escapes','fiat']"
                (click)= "obtenerProducto ('escapes','fiat')">Fiat</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'escapes','ford']"
                (click)= "obtenerProducto ('escapes','ford')">Ford</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'escapes','volkswagen']"
                (click)= "obtenerProducto ('escapes','volkswagen')">Volkswagen</a>

            </div>
          </div>
        </li>

        <li class="nav-item ml-2">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Multiples
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['lista-productos','multiples','chevrolet']"
                (click)= "obtenerProducto ('multiples','chevrolet')">Chevrolet</a>
              <a class="dropdown-item" [routerLink]="['lista-productos' , 'multiples','ford']"
                (click)= "obtenerProducto ('multiples','ford')">Ford</a>
              <a class="dropdown-item" [routerLink]="['lista-productos' , 'multiples', 'peugeot']"
                (click)= "obtenerProducto ('multiples','peugeot')">Peugeot</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','multiples','honda']"
                (click)= "obtenerProducto('multiples','honda')">Honda</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'multiples','porsche']"
                (click)= "obtenerProducto ('multiples','porsche')">Porsche</a>
              <a class="dropdown-item" [routerLink]="['lista-productos' ,'multiples','renault']"
                (click)= "obtenerProducto ('multiples','renault')">Renault</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','multiple','volkswagen']"
                (click)= "obtenerProducto ('multiples','volkswagen')">Volkswagen</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'multiples','vento']"
                (click)= "obtenerProducto ('multiples','vento')">Vento</a>
            </div>
          </div>
        </li>

        <li class="nav-item ml-2">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Motos
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['lista-productos', 'motos','honda']"
                (click)= "obtenerProducto ('motos','honda')">Honda</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'motos', 'suzuki']"
                (click)= "obtenerProducto ('motos','suzuki')">Suzuki</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','motos','yamaha']"
                (click)= "obtenerProducto ('motos','yamaha')">Yamaha</a>

            </div>
          </div>
        </li>
        <li class="nav-item ml-2">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Trombones
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['lista-productos', 'trombones','top_race']"
                (click)= "obtenerProducto ('trombones','top_race')">Top Race</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','trombones','mv']"
                (click)= "obtenerProducto ('trombones','mv')">Multivalvulas</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','trombones','stock_car']"
                (click)= "obtenerProducto ('trombones','stock_car')">Stock Car</a>
              <a class="dropdown-item" [routerLink]="['lista-productos', 'trombones','opala']"
                (click)= "obtenerProducto ('trombones','opala')">Opala</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','trombones','6_cilindros']"
                (click)= "obtenerProducto ('trombones','6_cilindros')">6 Cilindros</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','trombones','fiat']"
                (click)= "obtenerProducto ('trombones','fiat')">Fiat</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','trombones','volkswagen']"
                (click)= "obtenerProducto ('trombones','volkswagen')">Volkswagen</a>
              <a class="dropdown-item" [routerLink]="['lista-productos','trombones','formula_metropolitana']"
                (click)= "obtenerProducto ('trombones','formula_metropolitana')">Formula Metropolitana</a>
            </div>
          </div>
        </li>

        <li class="nav-item ml-2">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Avión
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['lista-productos']"
                (click)= "obtenerProducto ('avion','cessna')">Cessna</a>
              <a class="dropdown-item" [routerLink]="['lista-productos']"
                (click)= "obtenerProducto ('avion','bravo')">Bravo</a>
              <a class="dropdown-item" [routerLink]="['lista-productos']"
                (click)= "obtenerProducto ('avion','aero_boero')">Aereo Boero</a>
            </div>
          </div>
        </li>

        <li class="nav-item ml-2">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Competición
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['lista-productos']"
                (click)= "obtenerProducto ('competicion','formula')">Formula</a>
              <a class="dropdown-item" [routerLink]="['lista-productos']"
                (click)= "obtenerProducto ('competicion','fiat')">Fiat</a>
              <a class="dropdown-item" [routerLink]="['lista-productos']"
                (click)= "obtenerProducto ('competicion','volkswagen')">Volkswagen</a>

            </div>
          </div>
        </li>
      </ul>

      <div class="nav-item ml-2 custom-buttons ">
        <label for="porcentaje"></label>
        <input type="number" #porcentaje id="porcentaje" value="0" min="0" step="1">
        <button (click)= "ajustarPrecio(porcentaje.value)">Ajustar Precio</button>
        <button (click)= "deshacerAjuste(porcentaje.value)" >Deshacer Ajuste</button>
        <button (click)= "revertirCambios()">Mostrar Productos</button>
      </div>


      


    
    </nav>


    <div class="content-container">
      <app-lista-productos [productoList]="productoList" ></app-lista-productos>
      <router-outlet></router-outlet>
    </div>
    </div>
</div>
  